{% load static %}
{% include 'navbar.html' %} 
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<title>Loan Ammortization - Joel Nutt</title>			
	</head>
	<body>
        <div class="container card">
		<hr>		
		<form>
			<fieldset>
				<legend>Inputs</legend>
				<label for="principal"><b>Principal:</b></label>
				<input type="text" id="principal" />
				<br />
				<label for="interest"><b>Interest:</b></label>
				<input type="text" id="interest" />
				<br />
				<label for="terms"><b>Mounth Terms:</b></label>
                <input type="text" id="terms">
				<br />
                <label for="startdate"><b>Start date</b></label>
                <input type="date" id="startdate" >
                <br>
				<input type="button" value="Calculate" onclick="getValues()" />	
                <br>						
			</fieldset>
		</form>
		<form>
			<fieldset>
			<legend>Outputs</legend>
            <table class='table'><tr><th>S.No</th><th>Month</th><th>Balance</th><th>Interest</th><th>Principal</th></tr>
				<tbody id="Result"></tbody>
            </table>	
			</fieldset>					
		</form>	
    </div>	
	</body>
</html>
<script language="javascript">

var wwOpenInstalled;
if (wwOpenInstalled || parent.wwOpenInstalled) {
	if (window.Event) {
		document.captureEvents (Event.MOUSEUP);
	}
	document.onmouseup = (parent.wwOpenInstalled) ? parent.wwOnMouseUp : wwOnMouseUp;
}
</script>

<script>
function getValues()
{
	var balance = parseFloat(document.getElementById("principal").value);
	var interestRate = parseFloat(document.getElementById("interest").value/100.0);
	var terms = parseInt(document.getElementById("terms").value);
	//set the div string
	var div = document.getElementById("Result");
	//in case of a re-calc, clear out the div!
	div.innerHTML = "";
	//validate inputs - display error if invalid, otherwise, display table
	var balVal = validateInputs(balance);
	var intrVal = validateInputs(interestRate);
	if (balVal && intrVal)
	{
		//Returns div string if inputs are valid
		div.innerHTML += amort(balance, interestRate, terms);
	}
	else
	{
		//returns error if inputs are invalid
		div.innerHTML += "Please Check your inputs and retry - invalid values.";
	}
}

/**
 * Amort function:
 * Calculates the necessary elements of the loan using the supplied user input
 * and then displays each months updated amortization schedule on the page
*/
function amort(balance, interestRate, terms)
{
    //Calculate the per month interest rate
	var monthlyRate = interestRate/12;
	var startdate = document.getElementById("startdate").value;
    console.log(startdate)
	//Calculate the payment
    var payment = balance * (monthlyRate/(1-Math.pow(1+monthlyRate, -terms)));
	    
	//begin building the return string for the display of the amort table
    var result = "Loan amount:" + balance.toFixed(2) +  "<br />" + 
        "Interest rate:" + (interestRate*100).toFixed(2) +  "%<br />" +
        "Number of months:" + terms + "<br />" +
        "Monthly payment:" + payment.toFixed(2) + "<br />" +
        "Total paid:" + (payment * terms).toFixed(2) + "<br /><br />";
        
    //add header row for table to return string
	result += "<table class='table' border='1'><tr><th>S.No #</th><th>Month #</th><th>Balance</th>" + 
        "<th>Interest</th><th>Principal</th>";
    /**
     * Loop that calculates the monthly Loan amortization amounts then adds 
     * them to the return string 
     */
	for (var count = 0; count < terms; ++count)
	{ 
		//in-loop interest amount holder
		var interest = 0;
		
		//in-loop monthly principal amount holder
		var monthlyPrincipal = 0;
		
		//start a new table row on each loop iteration
		result += "<tr align=center>";
		
		//display the month number in col 1 using the loop count variable
        result += "<td><input type='text' id='sno"+ (count + 1) +"' value= "+ (count + 1) +" readonly/></td>";
		var date = new Date(startdate);
		// date1 = date.getMonth()+count;
		// date2 = date.setMonth(date1);
		var dateString = moment(date).format('YYYY-MM-DD');
		console.log(date,"javascript")
		console.log(startdate,"html format")
        result += "<td><input type='date' id='emidate"+ (count + 1) +"'  value="+ dateString +" readonly/></td>";
		//code for displaying in loop balance
		result += "<td><input type='text' id='balance"+ (count + 1) +"' value= "+balance.toFixed(2)+" readonly/></td>";
		
		//calc the in-loop interest amount and display
		interest = balance * monthlyRate;
        result += "<td><input type='text' id='interest"+ (count + 1) +"' value= " + interest.toFixed(2) +" readonly/></td>";
		
		//calc the in-loop monthly principal and display
		monthlyPrincipal = payment - interest;
        result += "<td><input type='text' id='monthlyprincipal"+ (count + 1) +"' value= " + monthlyPrincipal.toFixed(2) +" readonly/></td>";
		
		//end the table row on each iteration of the loop	
		result += "</tr>";
		
		//update the balance for each loop iteration
		balance = balance - monthlyPrincipal;		
	}
	
	//Final piece added to return string before returning it - closes the table
    result += "</table>";
	
	//returns the concatenated string to the page
    return result;
}

function validateInputs(value)
{
	//some code here to validate inputs
	if ((value == null) || (value == ""))
	{
		return false;
	}
	else
	{
		return true;
	}
}
</script>